<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.utility.Listerners" />
		<listener class-name="com.Test.resources.ExtentRepoterNG" />
	</listeners>
	<parameter name="enviroment" value="stage" />
	
	 <test name="Test1" preserve-order="true">
	  <parameter name="Project" value="Project_testCaseID_01" /> 
	 	<parameter name="testCaseID" value="Project_testCaseID_01" /> 
		<classes>	
			<class name="com.End2End.Test_Regression.Asset" />
		</classes>
	</test>

	<test name="Test2" preserve-order="true">
		 <parameter name="Bridge" value="Bridge_testCaseID_02" /> 
	 	<parameter name="testCaseID" value="Bridge_testCaseID_02" /> 
		<classes>	
			<class name="com.End2End.Test_Regression.Asset" />
		</classes>
	</test>
	
</suite>
